.footNav{height: 1.226667rem;width: 100%;border-top:2px solid #EBEBEB;
    a{width: 2.493333rem;height: 1.186667rem}
    li{float:left;width: 25%;text-align: center;
        i{font-size: .533333rem;color:#616570;margin-top:.16rem;margin-right:0;}
        p{font-size:.266667rem;color:#616570;line-height: .506667rem;}
    }
    .active{color:#17B232;}
}
